body {
  font-family: "Open Sans Condensed", sans-serif;
  color: #ab47bc;
  text-align: center;
  background-color: #fcf8fc;
}
li {
  list-style: none;
}

.weather-conditions li {
  display: inline;
}

.units {
  font-size: 20px;
  text-decoration: none;
  color: #ab47bc;
}
.units .active {
  text-decoration: none;
  color: #ab47bc;
}
.units :hover {
  text-decoration: none;
  color: #ab47bc;
}
